anyio==3.3.0
Authlib @ git+https://github.com/lepture/authlib@f27b4dabe4843d334570d25af011ca236c8af501
bleach==4.1.0
build==0.6.0.post1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
colorama==0.4.4
cryptography==3.4.8
docutils==0.17.1
h11==0.12.0
httpcore==0.13.6
httpx==0.19.0
idna==3.2
importlib-metadata==4.7.1
keyring==23.1.0
packaging==21.0
pep517==0.11.0
pkginfo==1.7.1
pycparser==2.20
Pygments==2.10.0
pyparsing==2.4.7
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
tomli==1.2.1
tqdm==4.62.2
twine==3.4.2
urllib3==1.26.6
webencodings==0.5.1
zipp==3.5.0
